 .hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE & Edge */
}
@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }

